body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(garage2.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px;
}

.login-left{
    background:rgba(211, 211, 211, 0.5);
    padding: 30px;
}